:root {
  --acent-red: #b92f2c;
  --base-white: #ffffff;
  --base-black: #000000;
  --modal-category-text-color: #8c8c8c;
  --footer-text-color: #545454;
  --footer-background-color: #f7f7f7;
  --backdrop-color: rgba(0, 0, 0, 0.2);
}
