<div class="authorization-modal__backdrop hidden">
  <div class="authorization-modal">
    <button
      class="authorization-modal__close-button"
      aria-label="close button for authorization modal"
    >
      <svg class="authorization-modal__close-icon">
        <use href="./icons/icons-sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="authorization-modal__container">
      <form class="authorization-modal__login-form">
        <h3 class="authorization-modal__header">Please login</h3>
        <input
          class="authorization-modal__login-input"
          name="login"
          type="text"
          placeholder="E-mail*"
        />
        <input
          class="authorization-modal__login-input"
          name="password"
          type="password"
          placeholder="Password*"
        />
        <button class="authorization-modal__login-button active" type="submit">
          Login
        </button>
        <button
          class="authorization-modal__login-form-switcher active"
          type="button"
        >
          Or Sign Up
        </button>
      </form>
      <form class="authorization-modal__signup-form hidden">
        <h3 class="authorization-modal__header">Please sign up</h3>
        <input
          class="authorization-modal__signup-input"
          name="login"
          type="text"
          placeholder="E-mail*"
        />
        <input
          class="authorization-modal__signup-input"
          name="password"
          type="password"
          placeholder="Password*"
        />
        <button class="authorization-modal__signup-button active" type="submit">
          Sign Up
        </button>
        <button
          class="authorization-modal__signup-form-switcher active"
          type="button"
        >
          Or Login
        </button>
      </form>
      <div class="authorization-modal__user-information hidden">
        <h3 class="authorization-modal__header">Authenticated user is:</h3>
        <p class="authorization-modal__user-email"></p>
        <button type="button" class="authorization-modal__logoff active">
          Logout
        </button>
      </div>
    </div>
  </div>
</div>
