<!-- Именование класов по бем, пример структуры с классами:  -->

<header class="header header--fixed">
  <div class="logo">
    <img class="logo__image" />
    <span class="logo__text"></span>
  </div>
  <nav class="navigation">
    <a class="navigation__link navigation__link--home" href="#">Home</a>
    <a class="navigation__link navigation__link--my-library" href="#"
      >My Library</a
    >
  </nav>

  <div class="search-form--container">
    <form class="search-form">
      <label>
        <input class="search-form__input" />
        <div class="search-form__icon"></div>
      </label>
      <button class="search-form__button"></button>
    </form>

    <!-- Будет скрыто до тех пор пока пользователь не введет неверный запрос -->
    <div class="error-message"></div>
  </div>
</header>
