<header class="header header--fixed">
  <div class="container header__container header__container-library">
    <div class="navigation__library-container">
      <nav class="navigation__library">
        <ul class="navigation__list-library">
          <li class="navigation__item-library">
            <a
              class="navigation__link navigation__link--home"
              href="/src/index.html"
              >Home</a
            >
          </li>
          <li class="navigation__item">
            <a
              class="navigation__link navigation__link--my-library current"
              href="/src/my-library.html"
              >My Library</a
            >
          </li>
        </ul>
      </nav>

      <div class="library-btn__container">
        <ul class="library__button-list">
          <li class="library__button-item">

            <button class="btn__library-watch active">Watched</button>
          </li>
          <li class="library__button-item">
            <button class="btn__library-queue active">queue</button>
          </li>
          <li class="library__button-item">
            <input type="checkbox" class="checkbox hidden" id="checkbox" aria-label="Change page color theme"/>
            <label for="checkbox" class="checkbox-label">
              <svg class="icon-sun" width="32" height="32">
                <use href="./icons/dark-theme.svg#icon-sun"></use>
              </svg>
              <svg class="icon-moon" width="32" height="32">
                <use href="./icons/dark-theme.svg#icon-moon"></use>
              </svg>
              <span class="ball"></span>
            </label>
          </li>
          <li class="library__button-item">
            <button
              type="button"
              class="btn__authorization active"
              aria-label="Autorization"
            >
              <svg class="icon-user" width="32" height="32">
                <use href="./icons/icons-sprite.svg#icon-user"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="logo__library">
      <a href="/src/index.html" class="logo__library-link">
        <svg class="logo__icon" width="32" height="32">
          <use href="./icons/icons-sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
    </div>
  </div>
</header>
