<div class="modal team-member-modal">
  <ul class="team-member-modal__content">
    <li>
      <img class="team-member-modal__photo" src="#" alt="Фото команды" />
      <h2 class="team-member-modal__name">Имя Фамилия</h2>
      <p class="team-member-modal__position">Должность</p>
      <p class="team-member-modal__comment">Комментарий</p>
      <ul class="socials-list">
        <li class="socials-list__item">
          <a href="#" class="socials-list__link"
            ><i class="socials-list__icon"></i
          ></a>
        </li>
        <li class="socials-list__item">
          <a href="#" class="socials-list__link"
            ><i class="socials-list__icon"></i
          ></a>
        </li>
        <li class="socials-list__item">
          <a href="#" class="socials-list__link"
            ><i class="socials-list__icon"></i
          ></a>
        </li>
      </ul>
    </li>

    <li>
      <img class="team-member-modal__photo" src="#" alt="Фото команды" />
      <h2 class="team-member-modal__name">Имя Фамилия</h2>
      <p class="team-member-modal__position">Должность</p>
      <p class="team-member-modal__comment">Комментарий</p>
      <ul class="socials-list">
        <li class="socials-list__item">
          <a href="#" class="socials-list__link"
            ><i class="socials-list__icon"></i
          ></a>
        </li>
        <li class="socials-list__item">
          <a href="#" class="socials-list__link"
            ><i class="socials-list__icon"></i
          ></a>
        </li>
        <li class="socials-list__item">
          <a href="#" class="socials-list__link"
            ><i class="socials-list__icon"></i
          ></a>
        </li>
      </ul>
    </li>
  </ul>

  <button class="team-member-modal__close-btn">Закрыть</button>
</div>
