<div class="team-member-modal hidden overlay">
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides my-styles">
        <!-- <li class="glide__slide"><p class="ppp">0</p></li> -->
        <li class="team-member__card">
          <img
            class="team-member-modal__photo"
            src="https://media.discordapp.net/attachments/1056182632033030175/1056536270429507655/Screenshot_20221225_133609_Instagram.jpg?width=490&height=612"
            alt="img"
          />
          <h2 class="team-member-modal__name">Elizabeth Diachenko</h2>
          <p class="team-member-modal__position">Team lead</p>

          <ul class="socials-list">
            <li class="socials-list__item">
              <a href="https://github.com/di-liza" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a href="https://www.facebook.com/" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-modal__comment">Discriotion</p>
        </li>
        <li class="team-member__card">
          <img
            class="team-member-modal__photo"
            src="https://trello.com/1/cards/6436f9c41d84c4927cd3c401/attachments/643be7bb7963e1e3e75fb529/download/11885789_1477673832550678_2859743449010223179_o.jpg"
            alt="img"
          />
          <h2 class="team-member-modal__name">Vasyl Mironjuk</h2>
          <p class="team-member-modal__position">Scrum master</p>

          <ul class="socials-list">
            <li class="socials-list__item">
              <a href="https://github.com/Julik85" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a href="https://www.facebook.com/" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.linkedin.com/home"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-modal__comment">Discriotion</p>
        </li>
        <li class="team-member__card">
          <img
            class="team-member-modal__photo"
            src="https://trello.com/1/cards/6436f9c41d84c4927cd3c401/attachments/643bf12b377e1331f569e85f/download/image.png"
            alt="img"
          />
          <h2 class="team-member-modal__name">Oleh Bilous</h2>
          <p class="team-member-modal__position">Developer</p>

          <ul class="socials-list">
            <li class="socials-list__item">
              <a
                href="https://github.com/Bilous-Oleh"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.facebook.com/profile.php?id=100084352073646"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.linkedin.com/in/%D0%BE%D0%BB%D0%B5%D0%B3-%D0%B1%D0%B5%D0%BB%D0%BE%D1%83%D1%81-92a424248?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BibYX9nMmSDSGpyhfb9rw3g%3D%3D"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-modal__comment">Discriotion</p>
        </li>
        <li class="team-member__card">
          <img
            class="team-member-modal__photo"
            src="https://trello.com/1/cards/6436f9c41d84c4927cd3c401/attachments/643b82ae08069751f2cc23fe/download/1681621606574.jpeg"
            ,
            alt="img"
          />
          <h2 class="team-member-modal__name">Oleh Syvonenko</h2>
          <p class="team-member-modal__position">Developer</p>

          <ul class="socials-list">
            <li class="socials-list__item">
              <a
                href="https://github.com/SyvonenkoOleh"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a href="https://www.facebook.com/" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.linkedin.com/in/oleh-syvonenko-604589272/"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-modal__comment">Discriotion</p>
        </li>
        <li class="team-member__card">
          <img
            class="team-member-modal__photo"
            src="https://trello.com/1/cards/6436f9c41d84c4927cd3c401/attachments/643a96017c02daf029e14d62/download/9C5A0403-0DAE-49BC-962E-24FA3EEC627D.jpeg"
            alt="img"
          />
          <h2 class="team-member-modal__name">Daria Kuzmenko</h2>
          <p class="team-member-modal__position">Developer</p>

          <ul class="socials-list">
            <li class="socials-list__item">
              <a
                href="https://github.com/DariaKuzmenko"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a href="https://www.facebook.com/" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.linkedin.com/home"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-modal__comment">Discriotion</p>
        </li>
        <li class="team-member__card">
          <img
            class="team-member-modal__photo"
            src="https://media.licdn.com/dms/image/D4E03AQFmJ0AdCgc34Q/profile-displayphoto-shrink_800_800/0/1676962595465?e=1686787200&v=beta&t=L3Z2e8rtbAgp9EoxHhzc8PZJaByQxMpTPobcKaTpQ5o"
            alt="img"
          />
          <h2 class="team-member-modal__name">Ivan Kornienko</h2>
          <p class="team-member-modal__position">Developer</p>

          <ul class="socials-list">
            <li class="socials-list__item">
              <a href="https://github.com/korvan17" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a href="https://www.facebook.com/" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.linkedin.com/in/%D1%96%D0%B2%D0%B0%D0%BD-%D0%BA%D0%BE%D1%80%D0%BD%D1%96%D1%94%D0%BD%D0%BA%D0%BE-5aa63192/"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-modal__comment">Discriotion</p>
        </li>
        <li class="team-member__card">
          <img
            class="team-member-modal__photo"
            src="https://avatars.githubusercontent.com/u/114777678?v=4"
            alt="img"
          />
          <h2 class="team-member-modal__name">Alexandr Neverov</h2>
          <p class="team-member-modal__position">Developer</p>

          <ul class="socials-list">
            <li class="socials-list__item">
              <a
                href="https://github.com/alex-neveroff"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.facebook.com/alexandrneveroff"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.linkedin.com/in/alexandr-neverov-28b7b2240/"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-modal__comment">Discriotion</p>
        </li>
        <li class="team-member__card">
          <img
            class="team-member-modal__photo"
            src="https://avatars.githubusercontent.com/u/114935947?v=4"
            alt="img"
          />
          <h2 class="team-member-modal__name">Pavlo Bakmaiev</h2>
          <p class="team-member-modal__position">Developer</p>

          <ul class="socials-list">
            <li class="socials-list__item">
              <a href="https://github.com/bakmaiev" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a href="https://www.facebook.com/" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.linkedin.com/in/bakmaiev/"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-modal__comment">Discriotion</p>
        </li>
        <li class="team-member__card">
          <img
            class="team-member-modal__photo"
            src="https://trello.com/1/cards/6436f9c41d84c4927cd3c401/attachments/6439b4f60091968b9e64816a/download/unnamed_(1).webp"
            alt="img"
          />
          <h2 class="team-member-modal__name">Pavlo Pylypenko</h2>
          <p class="team-member-modal__position">Developer</p>

          <ul class="socials-list">
            <li class="socials-list__item">
              <a href="https://github.com/PilyaP" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a href="https://www.facebook.com/" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.linkedin.com/in/pavlo-pylypenko-339b374b/"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-modal__comment">Discriotion</p>
        </li>
        <li class="team-member__card">
          <img
            class="team-member-modal__photo"
            src="https://avatars.githubusercontent.com/u/115025828?v=4"
            alt="img"
          />
          <h2 class="team-member-modal__name">Oleksandr Tsymbaliuk</h2>
          <p class="team-member-modal__position">Developer</p>

          <ul class="socials-list">
            <li class="socials-list__item">
              <a href="https://github.com/g0d2illa" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a href="https://www.facebook.com/" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.linkedin.com/home"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-modal__comment">Discriotion</p>
        </li>
        <li class="team-member__card">
          <img
            class="team-member-modal__photo"
            src="https://avatars.githubusercontent.com/u/56719417?v=4"
            alt="img"
          />
          <h2 class="team-member-modal__name">Yurii Soroka</h2>
          <p class="team-member-modal__position">Developer</p>

          <ul class="socials-list">
            <li class="socials-list__item">
              <a
                href="https://github.com/yuriisoroka165"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a href="https://www.facebook.com/" class="socials-list__link">
                <i class="socials-list__icon"></i>
              </a>
            </li>
            <li class="socials-list__item">
              <a
                href="https://www.linkedin.com/in/yurii-soroka-3293a6272"
                class="socials-list__link"
              >
                <i class="socials-list__icon"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-modal__comment">Discriotion</p>
        </li>
        <!-- <li class="glide__slide"><p class="ppp">1</p></li>
        <li class="glide__slide"><p class="ppp">2</p></li> -->
      </ul>
    </div>

    <!-- Стрелки -->
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        prev
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        next
      </button>
    </div>
  </div>
  <button class="team-member-modal__close-btn">Close</button>
</div>
