<div class="modal-video-container modal ">
 <div class="modal-wrap">
    <div class="modal-content movieCardModal__container  ">
     
    </div>
    <button class="modal-close-btn modal-btn-cross " >
      <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="14"
      fill="currentColor"
      class="modal-btn-cross__icon"
      viewBox="0 0 16 16"
    >
      <path
        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
      />
    </svg>
  </button>
 </div>
</div>

<!-- modal owerley -->
