.swiper-section {
  display: none;
  padding-top: 32px;

  @include tablet {
    display: block;
  }
}

.swiper-title {
  text-align: center;
  margin-bottom: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.swiper-slide {
  border-radius: 10px;

  overflow: hidden;
  transition: all 200ms ease-in-out;

  @include tablet {
    width: 232px !important;
    height: 348px !important;
  }

  @include desktop {
    width: 232px !important;
    height: 348px !important;

    &:hover,
    &:focus {
      transform: scale(0.9);
      cursor: pointer;
      box-shadow: 0px 0px 15pxpx rgb(195, 0, 0);
    }
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: rgb(245, 204, 0) !important;
}
.swiper-pagination-bullet {
  background: rgb(156, 14, 14);
  opacity: 0.9;
}
