.swiper-section {
  display: none;
  padding-top: 32px;

  @include tablet {
    display: block;
  }
}

.swiper-title {
  text-align: center;
  margin-bottom: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.swiper-slide {
  border-radius: 10px;

  overflow: hidden;
  transition: all 200ms ease-in-out;

  @include tablet {
    width: 223px !important;
      height: 332px !important;
  }

}