// .modal-video {
//     display: none;
//     position: fixed;
//     z-index: 100;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     overflow: auto;
//     background-color: rgba(0, 0, 0, 0.5);
//     transition: width 2s;
// }