.movie-collection__item {
  position: relative;
  cursor: pointer;
}

.movie-collection__button {
  position: absolute;
  top: 10px;
    left: 10px;

  padding: 5px 15px;
  opacity: 0.8;

  background: rgb(165, 5, 5);
  cursor: pointer;

  border-radius: 10px;
  border: none;
  border-bottom: 0px solid #eee;

  transition: all 0.2s;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.1em;
  color: #fff;


  @include tablet {
    line-height: 1.33;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }

  &:hover{
    background-color: #200000;
  }
}

.movie-collection__button:active {
  transform: scaleX(0.9) translateY(5px);
}

.movie-collection__button:not(:active) {
  border-bottom: 5px solid #600a0a;
  border-right: 5px solid #3d0707;
}
// Анимашка пульсации текста кнопки
.movie-collection__button:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
// Анимашка пульсации текста кнопки
.movie-collection__poster {
  margin-bottom: 10px;
  width: 280px;
  height: 402px;
  border-radius: 5px;

  @include tablet {
    margin-bottom: 8px;
    width: 336px;
    height: 455px;
  }

  @include desktop {
    margin-bottom: 12px;
    width: 395px;
    height: 574px;
  }
}

.movie-collection__title {
  text-transform: uppercase;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 1.16;

  @include tablet {
    line-height: 1.33;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie-collection__discription {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: var(--acent-red);

  @include tablet {
    line-height: 1.33;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie-collection__genre::after {
  content: '\00a0|\00a0';
}
