.header {
  max-width: 280px;
  height: 460px;
  position: relative;
  margin: 0 auto;
  border-radius: 13px;
  background-image: url(../images/abstract-background-with-red-lines-mobaile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url(../images/abstract-background-with-red-lines-mobaile-x2.jpg);
  }

  @include tablet {
    max-width: 704px;
    height: 222px;
    border-radius: 16px;
    background-image: url(../images/abstract-background-with-red-lines-tablet.jpg);
    @include retina {
      background-image: url(../images/abstract-background-with-red-lines-tablet-x2.jpg);
    }
  }

  @include desktop {
    max-width: 1216px;
    height: 316px;
    border-radius: 18px;
    background-image: url(../images/abstract-background-with-red-lines-desktop.jpg);
    @include retina {
      background-image: url(../images/abstract-background-with-red-lines-desktop-x2.jpg);
    }
  }
}
.header__container {
  position: relative;
  max-width: 302px;

  @include tablet {
    max-width: 704px;
  }
  @include desktop {
    max-width: 1216px;
  }
}
.components {
  @include tablet {
    display: flex;
    align-items: baseline;
    gap: 4px;
  }
}

.search-form {
  position: absolute;
  margin-top: 8px;
  top: 13%;
  left: 6%;
  @include tablet {
    margin-top: 0;
    position: static;
    padding-top: 16px;
  }
}

.search-form__input {
  padding: 0;
  width: 252px;
  height: 34px;
  border: none;
  border-radius: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  padding-left: 14px;

  @include tablet {
    width: 165px;
    height: 38px;
  }

  @include desktop {
    width: 187px;
    height: 42px;
  }
  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 2px solid #f3d407;
  }
}

.search-form__button {
  cursor: pointer;
  position: absolute;
  background-color: initial;
  right: 2%;
  bottom: 16%;
  border: none;

  @include tablet {
    bottom: 78%;
    right: 73%;
  }
  @include desktop {
    bottom: 83%;
    right: 83%;
  }
  &:active {
    transform: matrix(0.9, 0, 0, 1, 0, 5);
  }
}

.search-form__icon {
  fill: transparent;
  stroke: #000000;
  width: 16px;
  height: 16px;
}

.navigation {
  margin-bottom: 300px;
  padding-top: 14px;

  @include tablet {
    padding-top: 16px;
    margin-bottom: 105px;
  }
  @include desktop {
    margin-bottom: 151px;
  }
}
.navigation__list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base-black);
  background-color: #ffffff;
  align-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
}

.navigation__link--home {
  width: 87px;
  height: 34px;
  border-radius: 100px;
  transition: all 1s cubic-bezier(0, -0.15, 0.22, 1);

  @include tablet {
    width: 83px;
    height: 38px;
  }
  @include desktop {
    width: 99px;
    height: 42px;
  }
}
.navigation__link--home {
  &:active {
    transform: matrix(0.9, 0, 0, 1, 0, 5);
  }
  &:hover {
    color: #fff;
    background-color: #000000;
  }
}

.navigation__link--my-library {
  width: 113px;
  height: 34px;
  border-radius: 100px;
  transition: all 1s cubic-bezier(0, -0.15, 0.22, 1);
  cursor: pointer;

  @include tablet {
    width: 109px;
    height: 38px;
  }
  @include desktop {
    width: 117px;
    height: 42px;
  }
}

.navigation__link--my-library {
  &:active {
    transform: matrix(0.9, 0, 0, 1, 0, 5);
  }
  &:hover {
    color: #000000;
    background-color: #ffffff;
  }
}
.current {
  background-color: #000000;
  color: #ffffff;
}

.home-btn__container {
  position: absolute;
  left: 0;
  top: 100%;
  @include tablet {
    position: static;
    padding-top: 16px;
  }
  @include desktop {
  }
}
.home__button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn__authorization {
  width: 48px;
  height: 35px;
  color: #b92f2c;
  border-radius: 50%;
  border: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  transition: all 1s cubic-bezier(0, -0.15, 0.22, 1);
  cursor: pointer;
  @include tablet {
    width: 50px;
    height: 38px;
  }
  @include desktop {
    width: 50px;
    height: 42px;
  }
}
.active {
  &:hover,
  &:focus {
    background-color: #b92f2c;
    color: #ffffff;
    box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
    border: solid 1px #f4d03f;
  }
}

.active {
  &:active {
    transform: matrix(0.9, 0, 0, 1, 0, 5);
  }
}

.logo__icon {
  fill: transparent;
  stroke: #ffffff;
  @include tablet {
    width: 40px;
    height: 40px;
  }
  @include desktop {
    width: 50px;
    height: 59px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  @include desktop {
    margin-bottom: 32px;
  }
}

.logo__library-link {
  display: flex;
  gap: 16px;
  align-items: center;
}

.logo__text {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
  color: #ffffff;
  @include tablet {
    font-size: 40px;
    line-height: 1.18;
  }
  @include desktop {
    font-size: 64px;
    line-height: 1.17;
  }
}

.error-message {
  position: absolute;
  top: 27%;
  left: 9%;
  margin-left: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.18;
  max-width: 155px;
  color: #ffffff;
  @include tablet {
    top: 30%;
    left: 6%;
  }
  @include desktop {
    top: 24%;
    left: 3%;
  }
}

.logo__library-link {
  display: flex;
  gap: 16px;
  align-items: center;
}

.toolbar {
  display: flex;
  gap: 8px;
  position: absolute;
  top: 100%;
  left: 6%;
  @include tablet {
    top: 8%;
    left: 77%;
  }
  @include desktop {
    top: 6%;
    left: 87%;
  }
}

.checkbox {
  &:checked + .checkbox-label .ball {
    transform: translateX(32px);
  }
}

.checkbox-label {
  background-color: var(--base-black);
  width: 70px;
  height: 34px;
  border-radius: 50px;
  border: 1px solid var(--base-white);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  & .icon-sun {
    fill: yellow;
  }

  & .icon-moon {
    fill: yellow;
  }

  & .ball {
    position: absolute;
    background-color: var(--base-white);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  @include tablet {
    height: 38px;
  }

  @include desktop {
    height: 42px;
  }
}

.icon-user {
  width: 28px;
  height: 28px;
  @include tablet {
    width: 32px;
    height: 32px;
  }
}
