.movie-collection__item {
  font-size: 12px;
  line-height: 1.16;

  @include tablet {
    line-height: 1.33;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}
.movie-collection__poster {
  margin-bottom: 10px;
  width: 280px;
  height: 402px;
  border-radius: 5px;

  @include tablet {
    margin-bottom: 8px;
    width: 336px;
    height: 455px;
  }

  @include desktop {
    margin-bottom: 12px;
    width: 395px;
    height: 574px;
  }
}

.movie-collection__title {
  text-transform: uppercase;
  margin-bottom: 7px;
}

.movie-collection__discription {
  display: flex;
  font-weight: 500;
  color: var(--acent-red);
}

.movie-collection__genre::after {
  content: '\00a0|\00a0';
}
